#background{
    height: 135rem;
    width: 100vw;
    background: var(--background-color);
    background-image: url('../../assets/background.svg');
    background-size: cover;
}
#page-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background: var(--background-color);
    background-image: url('../../assets/background.svg');
    background-size: cover;
}

header {
    background-color: var(--header-color);
    padding: 2rem 5.43rem;

    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 100%;

    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-transform: uppercase;

    text-shadow: 0px 15.7534px 25.2055px rgba(13, 150, 41, 0.2);
}

header .libraske-header{
    flex-direction: row;
    font-weight: 800;
    font-size: 1.125rem;
    color: var(--green_);
}

header .options{  
    color: var(--ice_white);
    font-weight: 500;
    font-size: 0.875rem;
}

header .options a{
    text-decoration: none;
    color: var(--ice_white);
}

header .options a:first-child{
    margin-right: 1.5rem;
}  

#page-home .main-content {
    padding: 9rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-home .main-content .main{
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
}

#page-home .main-content .main .suite{
    text-align: center;
    color: var(--ice_white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

#page-home .main-content .main .init-container{
    display: flex;
    gap: 2rem;
}

#page-home .main-content .main .init-container .icaro{
    height: 18.75rem;
    width: 18.75rem;
}

#page-home .main-content .main .init-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#page-home .main-content .main .init-container .title{
    color: var(--green_);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-size: 6rem;
    letter-spacing: -0.06em;
    line-height: 100%;
}

#page-home .main-content .main .init-container .subtitle{
    color: var(--ice_white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}

#page-home .main-content .main .init-container div img{
    width: 13rem;
}

#page-home .main-content .realizadores {
    width: 43.125rem;
    height: 6.25rem;

    background: var(--realizadores_white);
    border-radius: 1.5rem;
    margin-bottom: 4.5rem;
}

#page-home .main-content .realizadores span {
    display: block;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 100%;
    margin: 1.25rem 0 0 1.5rem;
}

#page-home .main-content .realizadores img {
    margin: 0.5rem 2rem;
}

#page-home .main-content .projeto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 15rem;
    margin-right: 15rem;
    height: 12.5rem;
    margin-bottom: 4.5rem; 
    gap: 11rem;
}

#page-home .main-content .projeto .sobre{
    width: 24.125rem;
    display: flex;
    flex-direction: column;
}

#page-home .main-content .projeto .sobre img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.75rem;
}

#page-home .main-content .projeto .sobre div{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    font-family:  'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 2rem;
}

#page-home .main-content .projeto .sobre p {
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: var(--ice_white);
    line-height: 200%;
}

#page-home .main-content .projeto div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page-home .main-content .projeto div:last-child img:first-child{
    height: 12rem;
    width: 12rem;
    position: absolute;
}

#page-home .main-content .projeto div:last-child img:last-child{
    height: 15rem;
    width: 15rem;
}

#page-home .main-content .funciona{
    height: 11.2rem;
    margin-left: 7rem;
    margin-right: 7rem;

    background: var(--dark_blue);
    border-radius: 0.75rem;
    margin-bottom: 5rem;
}

#page-home .main-content .funciona .funciona_titulo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: white;
    
    margin-left: 3.8rem;
    margin-top: 2rem;
}

#page-home .main-content .funciona .icons_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

    margin-left: 3.8rem;
    margin-right: 3.6rem;
    margin-top: 1.5rem;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 150%;
    color: white;
}

#page-home .main-content .funciona .icons_container div{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    max-width: 25.25rem;
}

#page-home .main-content .vlibras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 12.5rem;
    
    gap: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 4.5rem;
}

#page-home .main-content .vlibras .sobre{
    height: 13.5rem;
}

#page-home .main-content .vlibras .sobre img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.75rem;
}

#page-home .main-content .vlibras .sobre div:first-child{
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 2rem;
}


#page-home .main-content .vlibras .sobre .sobre_container {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

#page-home .main-content .vlibras .sobre .sobre_container p {
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: var(--ice_white);
    line-height: 200%;
    width: 23.875rem;
}

#page-home .main-content .vlibras .sobre .sobre_container img {
    width: 24rem;
    height: 12.5rem;
}

#page-home footer{
    width: 100%;
    height: 6.5rem;
    background-color: var(--dark_blue);
    filter: opacity(0.9);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: auto;
}

#page-home footer .direitos{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.3px;
}
#page-home footer .social{
    position: absolute;
    margin-right: 8rem;
    display: flex;
    right: 0;
    gap: 1rem;
}

@media (max-width: 62rem) {
    #page-home {
        height: 192rem;
        width: auto;
        margin: auto;
    }
    header{
        padding: 2rem 2.5rem;
    }
    

    #page-home .main-content .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #page-home .main-content .main .suite{
        width: 75vw;
    }

    #page-home .main-content .main .init-container{
        align-items: center;
        flex-direction: column;
    }
    #page-home .main-content .main .init-container .title{
        font-size: 4.5rem;
    }

    #page-home .main-content .main .init-container div{
        align-items: center; 
    }
    
    #page-home .main-content .realizadores {
        display: flex;
        flex-direction: column;

        height: 4.75rem;
        width: 28rem;
        margin-left: 1rem;
        margin-right: 1rem;

        border-radius: 1rem;
    }
    #page-home .main-content .realizadores img{
        min-width: 18rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #page-home .main-content .projeto{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: auto;
        margin: 0 0 4.5rem;
    }
    #page-home .main-content .projeto .sobre{
        text-align: justify;
        align-items: center;
        width: 90vw;
        max-width: 26rem;
    }
    #page-home .main-content .projeto div:last-child {
        margin-right: 2.5rem;
    }
    #page-home .main-content .funciona{
        height: 19rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #page-home .main-content .funciona .funciona_titulo{
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page-home .main-content .funciona .icons_container{
        flex-direction: column;
        margin: 0;
        padding: 1.5rem;
    }
    
    #page-home .main-content .vlibras .sobre {
        text-align: justify;
        width: 90vw;
        max-width: 26rem;
    }
    #page-home .main-content .vlibras .sobre div:first-child {
        text-align: center;
    }
    #page-home .main-content .vlibras .sobre_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    #page-home .main-content .vlibras .sobre .sobre_container p{
        width: 90vw;
        max-width: 26rem;
    }
    #page-home .main-content .vlibras .sobre .sobre_container img{
        margin: 0;
        width: 95vw;
    }
    
    #page-home .main-content .vlibras .sobre .sobre_container img:last-child {
        width: 20rem;
        height: 10rem;
    }
    #page-home footer{
        height: 5rem;
        justify-content: space-between;
        margin-top: auto;
    }
    #page-home footer .direitos{
        padding-left: 2rem;
    }
    #page-home footer .social{
        position: relative;
        margin-right: 2rem;
    }
}

@media (max-width: 30rem) {
    #page-home {
        height: 195rem;
    }
    header{
        padding: 1.5rem 1.75rem;
    }
    #page-home .main-content {
        padding: 4rem 0 0;
    }

    #page-home .main-content .realizadores {
        max-width: 95vw;
        margin: 0 0 4rem 0;
    }
    #page-home .main-content .realizadores img{
        max-width: 90vw;
        margin: 0.5rem 0.75rem 0;
    }
}

@media (min-width: 2500px) {
    header{
        padding: 2rem 40rem 2rem 44rem;
    }
}