## Provide a name in place of kube-prometheus-stack for `app:` labels
nameOverride: ""

## Provide a name to substitute for the full names of resources
fullnameOverride: ""

## Labels to apply to all resources
commonLabels: {}

imagePullSecrets:
  - name: registrynuvem

global:  
  appName: libraskefront
  ## Reference to one or more secrets to be used when pulling images
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  imagePullSecrets:
  # - name: "image-pull-secret"
  

libraskefront:
  replicaCount: 1
  image:
    repository: "registry.sisp.gov.br/vlibras/vlibras-video-service/vlibras-video-core"
    tag: ""
  
  pullPolicy: Always

  appConfig:
    REACT_APP_LOGIN_UNICO: https://sso.acesso.gov.br
    REACT_APP_CLIENT_ID: libraske.vlibras.gov.br
    REACT_APP_REDIRECT_URI: http://libraske.vlibras.gov.br/authorize
    REACT_APP_LOGOUT_URI: https://libraske.vlibras.gov.br/
    REACT_APP_API_URL: https://api-libraske-dth.vlibras.lavid.ufpb.br
    REACT_APP_API_REDIRECT_URI: https://front-libraske-dth.vlibras.lavid.ufpb.br/authorize


  secrets:
    # The existingSecret field is more like a boolean. 
    # if it's empty, Video Backend creates a secret based on Enviroment Variables Values
    # if it's NOT empty, Video doesn't create a secret and try to use the existingSecret.
    existingSecret: ""
    
    appSecret:
      SEGREDO_X: 'seDesejarAlgumSegredo'

  service:
    type: ClusterIP
    port: 80

  #httpRelativePath: /
  ## Configure extra options for containers' liveness, readiness and startup probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
  ## @param livenessProbe.enabled Enable livenessProbe on Keycloak containers
  ## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  ## @param livenessProbe.periodSeconds Period seconds for livenessProbe
  ## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  ## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
  ## @param livenessProbe.successThreshold Success threshold for livenessProbe
  ##
  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 1
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  ## @param readinessProbe.enabled Enable readinessProbe on Keycloak containers
  ## @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  ## @param readinessProbe.periodSeconds Period seconds for readinessProbe
  ## @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  ## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
  ## @param readinessProbe.successThreshold Success threshold for readinessProbe
  ##
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
    successThreshold: 1
  ## When enabling this, make sure to set initialDelaySeconds to 0 for livenessProbe and readinessProbe
  ## @param startupProbe.enabled Enable startupProbe on Keycloak containers
  ## @param startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  ## @param startupProbe.periodSeconds Period seconds for startupProbe
  ## @param startupProbe.timeoutSeconds Timeout seconds for startupProbe
  ## @param startupProbe.failureThreshold Failure threshold for startupProbe
  ## @param startupProbe.successThreshold Success threshold for startupProbe
  ##
  startupProbe:
    enabled: false
    initialDelaySeconds: 45
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 60
    successThreshold: 1

  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  resources:
    requests:
      cpu: "1"
      memory: "1Gi"
    limits:
      memory: "4Gi"
      cpu: "4"
  nodeSelector: {}
  tolerations: []
  affinity: {}